header {
  background-image: linear-gradient(
      rgba(0, 191, 255, 0.5),
      rgba(153, 102, 102, 0.5)
    ),
    url(img/bird-g225757eda_1920.jpg);
  background-attachment: fixed;
  height: 80vh;
  background-size: cover;
}

h1 {
  font-size: 70px !important;
  color: whitesmoke;
  font-weight: 400;
}

.main_contest {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.members {
  margin-top: 10px;
  height: 50px;
  background-color: rgb(139, 186, 228);
  border-radius: 5px;
  text-align: center;
}

h2 {
  color: whitesmoke;
}

.name {
  font-size: large;
  text-align: center;
  font-weight: bolder;
}

.Context {
  margin-top: 10px;
  height: auto;
  border: 2px double blue;
}
.text-contact {
  padding: 2px 15px;
}

.img-thumbnail {
  height: 350px !important;
}
